<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686043428121-r5u7t2kj4tnt5p4ea7l1pvtniqgt2m5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686043428121-r5u7t2kj4tnt5p4ea7l1pvtniqgt2m5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBMIIY0Vh6N_6Ao7UkHwa8zL8lC0YBHGtA</string>
	<key>GCM_SENDER_ID</key>
	<string>686043428121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyferson.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platzitweets-5c2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitweets-5c2e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686043428121:ios:1874ec65d56289f3a18188</string>
</dict>
</plist>